/Assignment_ Automated Data Extraction and Management for Invoices, Products, and Customers.pdf
/node_modules
/.parcel-cache
# /dist
/.env
/src/classes/
/test_case_1
/test_case_2
/test_case_3
/test_case_4
/test_case_5
